<!doctype html>
<html ng-app="MyFirtsApp">
  <head>
    <script src="../angular.min.js"></script>
    <script src="binding.js"></script>
  </head>
  <body ng-controller="MyFirtsController">
    <div>
     <!-- IMPORANTE usar ng.model para asociar el nombre como atributo de arreglo nuevo comentario -->
      <label>Name:</label>
      <input type="text" ng-model="nuevoComentario.nombre" placeholder="Nombre">
      <br/>
      <br/>
      <label>comentario:</label>
      <input type="text" ng-model="nuevoComentario.comentario" placeholder="comentario">
      <br/>
      <br/>
      <!-- llamamos a la funcio que crea agerga un nuevo comentario -->
      <button ng-click="agregarComentario()">Enviar</button>
      <hr>
      <h3>{{'Two way data binding y ng model '+ nombre}}!<a href="https://www.youtube.com/watch?v=9Xef6l04vVI"> IR AL EJEMPLO </a></h3>
      <ul>
      	<!-- realizamos la iteracion del arreglo comentarios -->
      	<li ng-repeat="comentario in comentarios">
      		<strong>{{comentario.nombre}}</strong><br>
      		{{comentario.comentario}}
      	</li>
      </ul>
    </div>
  </body>
</html>